{% extends 'baseadmin.html' %}
{% load static %}
{% block title %}Admin Home{% endblock %}
{% block content %}
<style>
  .dashboard-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 450px;
  }
</style>
<img src="{% static 'images/adminhome.png' %}" alt="Dashboard Image" class="dashboard-image">
    <h2 style="margin-top:-50px; color:blue; " align="center"> Hi! Admin Welcome to Admin Dashboard</h2>
    <p align="center">Your Admin Panel is Ready to Use</p>
{% endblock %}
