{% extends 'basehome.html' %}
{% load static %}
{% block title %}User Home{% endblock %}
{% block content %}
<style>
  .dashboard-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 450px;
  }
</style>
<img src="{% static 'images/userhome.png' %}" alt="Dashboard Image" class="dashboard-image">
    <h2 style="margin-top:-15px; color:blue;" align="center">Hi! {{ user.name }} Welcome to User Dashboard</h2>
    <p align="center">Your User Panel is Ready to Use</p>
{% endblock %}
